* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.clip {
  clip-path: circle(50% at 71% 56%);
}

.choose-file::file-selector-button {
  width: 100%;
  cursor: pointer;
}
